body {
    background-color: rgb(250, 201, 183);
}
.item,
.selection-item,
.Hisory-item{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color:green;
}
.red{
    background-color:red;
}
.white{
    background-color:white;
}
.black{
    background-color:black;
}
.purple{
    background-color:purple;
}